body {
    font-family: 'Arial', sans-serif;
}

.title, .subtitle {
    color: hotpink;
}

.bg-hotpink {
    background-color: hotpink;
}

.text-white {
    color: white;
}

.btn-hotpink {
    color: hotpink;
    background-color: white;
    border-color: hotpink;
}

.btn-hotpink:hover {
    color: white;
    background-color: hotpink;
    border-color: white;
}

/* Adjust the container max-width if needed */
.container {
    max-width: 800px;
}


#animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}