body {
    font-family: 'Arial', sans-serif;
}

.title, .subtitle {
    color: hotpink;
}

.bg-hotpink {
    background-color: hotpink;
}

.text-white {
    color: white;
}

.btn-hotpink {
    color: hotpink;
    background-color: white;
    border-color: hotpink;
}

.btn-hotpink:hover {
    color: white;
    background-color: hotpink;
    border-color: white;
}

/* Adjust the container max-width if needed */
.container {
    max-width: 800px;
}