body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px; /* Adjust the width as needed */
}

.title, .subtitle, .about-us {
    color: hotpink;
}

.bg-hotpink {
    background-color: hotpink;
}

.text-white {
    color: white;
}